<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Rastreador de Leads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="corpo">
      <h1>Rastreador de Leads - Polos</h1>
      <br/>
      <form method="POST" action="/">
        <label>Estado:</label>
        <input type="text" name="estado" required /><br /><br />
        <label>Cidade:</label>
        <input type="text" name="cidade" required /><br /><br />
        <label>Tipo de Instituição:</label>
        <select name="tipo">
          <option value="escola">Escola Técnica</option>
          <option value="colégio">Colégio Profissionalizante</option>
          <option value="instituto">Instituto</option>
        </select><br/><br/>
        <label>Quantidade de leads:</label>
        <input type="number" name="quantidade" min="10" max="200" required/><br/><br/>
        <button type="submit">Buscar Leads</button>
      </form>
    </div>
  </body>
</html>
